<h1>Listing workouts</h1>

<table>
  <tr>
    <th>Notes</th>
    <th>Date</th>
    <th>Athlete</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @workouts.each do |workout| %>
  <tr>
    <td><%= workout.notes %></td>
    <td><%= workout.date %></td>
    <td><%= workout.athlete_id %></td>
    <td><%= link_to 'Show', workout %></td>
    <td><%= link_to 'Edit', edit_workout_path(workout) %></td>
    <td><%= link_to 'Destroy', workout, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Workout', new_workout_path %>
