<h1>Listing lifts</h1>

<table>
  <tr>
    <th>Exercise</th>
    <th>Weight</th>
    <th>Time</th>
    <th>Notes</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @lifts.each do |lift| %>
  <tr>
    <td><%= lift.exercise_id %></td>
    <td><%= lift.weight %></td>
    <td><%= lift.time %></td>
    <td><%= lift.notes %></td>
    <td><%= link_to 'Show', lift %></td>
    <td><%= link_to 'Edit', edit_lift_path(lift) %></td>
    <td><%= link_to 'Destroy', lift, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Lift', new_lift_path %>
