<p id="notice"><%= notice %></p>

<p>
  <b>Exercise:</b>
  <%= @lift.exercise_id %>
</p>

<p>
  <b>Weight:</b>
  <%= @lift.weight %>
</p>

<p>
  <b>Time:</b>
  <%= @lift.time %>
</p>

<p>
  <b>Notes:</b>
  <%= @lift.notes %>
</p>


<%= link_to 'Edit', edit_lift_path(@lift) %> |
<%= link_to 'Back', lifts_path %>
