<%= form_for(@workout_template) do |f| %>
  <% if @workout_template.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@workout_template.errors.count, "error") %> prohibited this workout_template from being saved:</h2>

      <ul>
      <% @workout_template.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>

  <div class="goals">
    <%= f.fields_for :goals do |goal_form| -%>
      <div class="field goal-row">
        <%= goal_form.label :exercise %>
        <%= goal_form.select(:exercise_id, Exercise.order(:name).collect {|e| [ e.name, e.id ] }) %>
        <%= goal_form.label :time %>
        <%= goal_form.number_field :time %>
      </div>
    <% end %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
