<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @workout_template.name %>
</p>

<p>
  <b>Athlete:</b>
  <%= @workout_template.athlete_id %>
</p>


<%= link_to 'Edit', edit_workout_template_path(@workout_template) %> |
<%= link_to 'Back', workout_templates_path %>
