<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @workout_template.name %>
</p>

<table class="goals">
  <tr>
    <th>Exercise</th>
    <th>Goal Time (secs)</th>
  </tr>
  <% @workout_template.goals.each do |goal| %>
    <tr>  
      <td class="goal-exercise-name"><%= goal.exercise.name %></td>
      <td class="goal-time"><%= goal.time %></td>
    </tr>
  <% end %>
</table>


<%= link_to 'Edit', edit_workout_template_path(@workout_template) %> |
<%= link_to 'Back', workout_templates_path %>
