<p id="notice"><%= notice %></p>

<p>
  <b>First name:</b>
  <%= @athlete.first_name %>
</p>

<p>
  <b>Last name:</b>
  <%= @athlete.last_name %>
</p>


<%= link_to 'Edit', edit_athlete_path(@athlete) %> |
<%= link_to 'Back', athletes_path %>
